body{
 	padding-top:50px;
 	background-color: #f1f1f1;
	color:#333;
 }
 .navbar-mynavbar{
 	border-bottom:#e8e8e8 solid 1px;
 	background-color:#FFF!important;
 	background-image:none!important;
 	
 }
.myjumbotron{
	background-color: #FFF;
	border-bottom:#e8e8e8 solid 1px;
	text-align:justify;
	box-shadow:0 1px 2px rgba(0,0,0,.1);
}
.myjumbotron .page-header{
	border:none;
	
}
.myjumbotron .page-header h1{
	font-size:2em;
	font-weight:bold;
	color:#333;
}
.myjumbotron p{
	font-size:1.2em;
}
.page-header{
	padding:0;
	margin:0;
}
.skill-btn{
	margin:2px 2px;
}
.skill-btn:hover{
	cursor:default;
}
.well-mywell{
	border-radius:0px;
	background-color:#FFF;
	padding-top:0;
	padding-right:0;
	padding-left:0;
	padding-bottom:0;
	text-align: justify;
	border:#e8e8e8 solid 1px;
	box-shadow:0 1px 2px rgba(0,0,0,.1);
}
.well-mywell .myheader{
	border:none;
}
.well-mywell .myheader h2{
	border:none;
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	color:#333;
	margin-top:0px;
	padding-top:10px;
	margin-bottom:0px;
	padding-bottom:10px;
	background-color:#FFF;
}
.well-mywell p{
	font-size: 1em;
}
.image-wrapper{
	padding-top:5px;
	padding-left:45px;
	padding-right:45px;	
	text-align:center;
}
.image-wrapper img{
	margin-bottom:5px;
}
.image-splitter{
	margin-bottom:5px;
	margin-right:0px;
	padding:0;
	padding-right:3px;
}
.experience-unit{
	border-top :#e8e8e8 solid 1px;
	padding-bottom:10px;
	margin-top:0px;
	background-color:inherit;
}
.experience-unit h3{
	font-weight:bold;
	font-size: 1.3em;
	color:#333;
}
.experience-unit h4{
	font-size:1em;
	font-weight:bold;
	color:#333;
}
.experience-unit .experience-keywords{
	font-size:0.9em;
	text-align:right;	
	font-weight:bold;
}